body{background:url(/images/lines.gif), url(/images/background.gif);height:100%;width:100%;}
.ui-page, .ui-content, .ui-bar-b.ui-header{background:transparent;border:none;}
.ui-title{margin:12px 0px 0px 0px !important;}
.ui-body-b{color:lightBlue;letter-spacing:1.3;text-shadow:none;}
.min-width-320px h1 img{width:180px;}
.min-width-480px h1 img{width:200px;}
.min-width-1024px h1 img{width:auto;}
.min-width-320px #map-canvas-container{width:300px;height:500px;}
.min-width-480px #map-canvas-container{width:450px;height:500px;}
.min-width-1024px #map-canvas-container{width:900px;height:500px;margin:auto;}
.proposal-link{color:blue;text-decoration:underline;cursor:pointer;}
.proposal-link:hover{color:blue;}


.box_round {
     -moz-border-radius: 13px; /* FF1-3.6 */
  -webkit-border-radius: 13px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
          border-radius: 13px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
  border:7px solid rgba(0,65,121,.5);
}
